/* Global Setting */
body{margin:0; padding:0;text-align:left; font-size:12px; font-family:'Microsoft YaHei',Arial; background:#FFF;}
table{border-collapse:collapse;}
td,th{padding:0;}
ul,li,dd,dl,dt{margin:0; padding:0; list-style:none; word-break:break-all;}
img{border:0;}
p{margin:0; word-break:break-all;}
h1,h2,h3,h4{margin:0;padding:0; font-weight:normal; font-size:14px;}
em{ font-size:12px; font-style:normal;}
hr{background:none;border:none;border-bottom:1px solid #CCC;#border-bottom:0;}
.clear {clear:both;height:0;font-size:1px;line-height: 0px;}
a{text-decoration:none; border:0; outline:none; blr:expression(this.onFocus=this.blur());}
select,input,textarea{font-family:inherit; outline:none;}

.wrapper{ width:640px; margin:0 auto; border:none; padding:0;}
.innerDiv{ width:100%; height:100%; position:relative;}
.abs{ position:absolute;}
.bgImg{ width:640px; height:1039px; overflow:hidden; position:absolute; display:block; left:0; top:0;}
.page{ width:640px; height:1039px; overflow:hidden; position:absolute; left:50%; top:0; margin-left:-320px;}

.logo{ position:absolute; left:25px; top:25px;}
.backBtn{ left:25px; top:25px;}

/*page1*/
.page1{ background:url(../images/page1Img1.jpg) 0 0 no-repeat;}
.page1c1{ left:300px; top:275px;
-webkit-animation:page1c1 13s 0s linear both infinite;}
@-webkit-keyframes page1c1{
0%{-webkit-transform:translate(-400px,0);}
100%{-webkit-transform:translate(400px,0);}
}
.page1c2{ left:300px; top:300px;
-webkit-animation:page1c2 10s 0s linear both infinite;}
@-webkit-keyframes page1c2{
0%{-webkit-transform:translate(400px,0);}
100%{-webkit-transform:translate(-400px,0);}
}
.page1c3{ left:300px; top:325px;
-webkit-animation:page1c3 18s 0s linear both infinite;}
@-webkit-keyframes page1c3{
0%{-webkit-transform:translate(-400px,0);}
100%{-webkit-transform:translate(400px,0);}
}
.page1Img2{ background:url(../images/page1Img2.png) 0 0 no-repeat;}
.page1Img3{ background:url(../images/page1Img3.png) 0 0 no-repeat;}
.scrollInit{ left:127px; top:765px; width:80px; height:174px;}
.topInit{ width:80px; height:105px; background:url(../images/icon1.png) 0 0 no-repeat; color:#ff880e; font-size:18px; text-align:center; line-height:84px;}
.bottomInit{ position:absolute; left:0; bottom:0; width:80px; height:59px; background:url(../images/icon3.png) 0 0 no-repeat;}
#touchBlock{ width:460px; height:90px; position:absolute; left:112px; top:875px;}
.wxFace{ border-radius:50%; position:absolute; left:7px; top:10px; width:66px; height:66px;}
.indexBtn1{ top:974px; left:522px;}

.popBg{ width:100%; height:100%; position:fixed; left:0; top:0; background:rgba(0,0,0,0.7);}
.ruleBlock{ background:url(../images/ruleBg.png) 0 0 no-repeat; width:493px; height:732px; position:absolute; left:50%; top:50%; margin:-361px 0 0 -246px;}
.ruleMain{ width:435px; height:580px; position:absolute; left:36px; top:104px;}
#scrollbar{ width:435px;}
#scrollbar .viewport{ height:580px; overflow:hidden; position:relative; width:405px;}
#scrollbar .overview{ left:0; list-style:none outside none; margin:0; padding:0; position:absolute; top:0;}
#scrollbar .scrollbar{ background:none; float:right; position:relative; width:8px;}
#scrollbar .track{ background:#ef70c1; height:100%; position:relative; width:8px; border-radius:8px; border-radius:8px;}
#scrollbar .thumb{ background:#ffe300; cursor: pointer; left:0; position:absolute; top:0; width:8px; border-radius:8px;}
#scrollbar .end{ background:none; width:26px; height:17px; position:absolute; left:0; bottom:0; display:none;}
.ruleClose{ right:0; top:24px;}

/*page2*/
.page2{ background:url(../images/page2b.jpg) 0 0 no-repeat;}
.page3{ background:url(../images/page2a.jpg) 0 0 no-repeat;}
.btn1{ width:220px; height:287px; left:43px; top:428px;}
.abBottom{ left:0; bottom:0;}
.abTop1{ left:24px; top:135px;}
.abTop1Act{-webkit-animation:abTop1Act 5s 0s linear both infinite;}
@-webkit-keyframes abTop1Act{
0%{-webkit-transform:translate(0,0);}
30%{-webkit-transform:translate(0,25px);}
50%{-webkit-transform:translate(0,25px);}
80%{-webkit-transform:translate(0,0);}
100%{-webkit-transform:translate(0,0);}
}
.manAout{ position:absolute; top:0; left:69px;}
.manMain{ text-align:center; font-size:24px; line-height:500%; color:#c13e06;}
.manAMain{ background:url(../images/ya.png) 0 0 no-repeat; width:86px; height:163px; text-align:center; font-size:24px; text-indent:-5px; line-height:1000%; color:#c13e06;}
.manAAct{-webkit-animation:manAAct 1s steps(2) infinite;}
@-webkit-keyframes manAAct{
0%{ background-position:0 0;}
100%{ background-position:-172px 0;}
}
.btn2{ width:180px; height:230px; left:424px; top:295px;}
.abTop2{ left:19px; top:105px;}
.abTop2Act{-webkit-animation:abTop2Act 5s 0s linear both infinite;}
@-webkit-keyframes abTop2Act{
0%{-webkit-transform:translate(0,0);}
30%{-webkit-transform:translate(0,20px);}
50%{-webkit-transform:translate(0,20px);}
80%{-webkit-transform:translate(0,0);}
100%{-webkit-transform:translate(0,0);}
}
.manBout{ position:absolute; top:33px; left:56px;}
.manBMain{ background:url(../images/yb.png) 0 0 no-repeat; width:56px; height:93px;}
.manBAct{-webkit-animation:manBAct 1s steps(2) infinite;}
@-webkit-keyframes manBAct{
0%{ background-position:0 0;}
100%{ background-position:-112px 0;}
}
.btn3{ width:151px; height:192px; left:32px; top:236px;}
.abTop3{ left:16px; top:87px;}
.abTop3Act{-webkit-animation:abTop3Act 5s 0s linear both infinite;}
@-webkit-keyframes abTop3Act{
0%{-webkit-transform:translate(0,0);}
30%{-webkit-transform:translate(0,15px);}
50%{-webkit-transform:translate(0,15px);}
80%{-webkit-transform:translate(0,0);}
100%{-webkit-transform:translate(0,0);}
}
.manCout{ position:absolute; top:26px; left:48px; -webkit-transform:scale(0.8);}
.btn4{ width:220px; height:287px; left:389px; top:480px;}
.btn5{ width:180px; height:230px; left:57px; top:295px;}
.btn6{ width:151px; height:192px; left:440px; top:205px;}

.eFlag{ background:url(../images/flag.png) 0 0 no-repeat; width:71px; height:80px; left:300px; top:172px;
-webkit-animation:eFlag 1s steps(2) infinite;}
@-webkit-keyframes eFlag{
0%{ background-position:0 0;}
100%{ background-position:-142px 0;}
}

/*act1*/
.act1Img1{ background:url(../images/act1Img1.jpg) 0 0 no-repeat;}
.actBtn1{ top:910px; left:50%; margin-left:-87px;}
.act1Img2{ background:url(../images/act1Img2.jpg) 0 0 no-repeat;}
.actBtn2{ top:743px; left:50%; margin-left:-87px;}
.actRule{ left:342px; top:602px;}
.ActRuleBlock{ background:url(../images/a1SBg.png) 0 0 no-repeat; width:516px; height:778px; position:absolute; left:50%; top:50%; margin:-389px 0 0 -256px;}
.ActRuleMain{ width:457px; height:550px; position:absolute; left:30px; top:147px;}
#scrollbar2{ width:457px;}
#scrollbar2 .viewport{ height:580px; overflow:hidden; position:relative; width:430px;}
#scrollbar2 .overview{ left:0; list-style:none outside none; margin:0; padding:0; position:absolute; top:0;}
#scrollbar2 .scrollbar{ background:none; float:right; position:relative; width:8px;}
#scrollbar2 .track{ background:#e26644; height:100%; position:relative; width:8px; border-radius:8px; border-radius:8px;}
#scrollbar2 .thumb{ background:#f4c22a; cursor: pointer; left:0; position:absolute; top:0; width:8px; border-radius:8px;}
#scrollbar2 .end{ background:none; width:26px; height:17px; position:absolute; left:0; bottom:0; display:none;}
.ruleClose2{ right:0; top:26px;}

.act1Img3{ background:url(../images/act1Img3.jpg) 0 0 no-repeat;}
.actImg{ width:640px; height:1039px; display:block; left:0; top:0;}
.time1{ color:#f47957; font-size:18px; text-align:right; position:absolute; width:70px; height:20px; line-height:20px; left:0; top:940px;}
.time2{ color:#f47957; font-size:18px; text-align:left; position:absolute; width:74px; height:20px; line-height:20px; left:565px; top:940px;}
.timeBar{ width:486px; height:10px; position:absolute; left:75px; top:945px;}
.actBtn3{ left:275px; top:405px;}
.restTime{ background:url(../images/actTime.png) 0 0 no-repeat; width:145px; height:112px; padding-top:27px; position:absolute; left:265px; top:345px; text-align:center; font-size:55px; line-height:112px; color:#FFF;}
.timeGoBar{ height:10px; background:#e64e3d; border-radius:5px; width:0;}
.ac1{ left:300px; top:250px; opacity:0.5;
-webkit-animation:ac1 23s 0s linear both infinite;}
@-webkit-keyframes ac1{
0%{-webkit-transform:translate(-400px,0);}
100%{-webkit-transform:translate(400px,0);}
}
.ac2{ left:300px; top:120px; opacity:0.9;
-webkit-animation:ac2 16s 3s linear both infinite;}
@-webkit-keyframes ac2{
0%{-webkit-transform:translate(-400px,0);}
100%{-webkit-transform:translate(400px,0);}
}

.act1Img4{ background:url(../images/act1Img4.jpg) 0 0 no-repeat;}
.btnLine{ width:100%; position:absolute; left:0; top:900px; text-align:center;}
.btnLine a{ margin:0 50px;}
.wxName{ width:125px; text-align:center; left:140px; top:780px; color:#f47957; font-size:20px; height:20px; line-height:20px; overflow:hidden;}
.wxImg{ width:80px; height:80px; border:4px solid #f47957; border-radius:50%; left:157px; top:682px;}

/*act2*/
.act2Img1{ background:url(../images/act2Img1.jpg) 0 0 no-repeat;}
.act2Img2{ background:url(../images/act2Img2.jpg) 0 0 no-repeat;}
.ActRuleBlock2{ background:url(../images/a2SBg.png) 0 0 no-repeat;}
.act2Img3{ background:url(../images/act2Img3.jpg) 0 0 no-repeat;}
.act2Img4{ background:url(../images/act2Img4.jpg) 0 0 no-repeat;}

/*act3*/
.act3Img1{ background:url(../images/act3Img1.jpg) 0 0 no-repeat;}
.act3Img2{ background:url(../images/act3Img2.jpg) 0 0 no-repeat;}
.ActRuleBlock3{ background:url(../images/a3SBg.png) 0 0 no-repeat;}
.act3Img3{ background:url(../images/act3Img3.jpg) 0 0 no-repeat;}
.act3Img4{ background:url(../images/act3Img4.jpg) 0 0 no-repeat;}

/*act4*/
.act4Img1{ background:url(../images/act4Img1.jpg) 0 0 no-repeat;}
.act4Img2{ background:url(../images/act4Img2.jpg) 0 0 no-repeat;}
.ActRuleBlock4{ background:url(../images/a4SBg.png) 0 0 no-repeat;}
.act4Img3{ background:url(../images/act4Img3.jpg) 0 0 no-repeat;}
.act4Img4{ background:url(../images/act4Img4.jpg) 0 0 no-repeat;}

/*act5*/
.act5Img1{ background:url(../images/act5Img1.jpg) 0 0 no-repeat;}
.act5Img2{ background:url(../images/act5Img2.jpg) 0 0 no-repeat;}
.ActRuleBlock5{ background:url(../images/a5SBg.png) 0 0 no-repeat;}
.act5Img3{ background:url(../images/act5Img3.jpg) 0 0 no-repeat;}
.act5Img4{ background:url(../images/act5Img4.jpg) 0 0 no-repeat;}

/*act6*/
.act6Img1{ background:url(../images/act6Img1.jpg) 0 0 no-repeat;}
.act6Img2{ background:url(../images/act6Img2.jpg) 0 0 no-repeat;}
.ActRuleBlock6{ background:url(../images/a6SBg.png) 0 0 no-repeat;}
.act6Img3{ background:url(../images/act6Img3.jpg) 0 0 no-repeat;}
.act6Img4{ background:url(../images/act6Img4.jpg) 0 0 no-repeat;}

/*info*/
.infoBlock{ background:url(../images/infoBg.png) 0 0 no-repeat; width:445px; height:706px; position:absolute; left:50%; top:50%; margin:-353px 0 0 -222px;}
.infoTxt{ border:0; background:none; position:absolute; left:47px; padding:0; color:#333; font-size:24px;}
.infoTxt1{ width:262px; height:45px; line-height:44px; padding:0 10px 0 80px; top:192px;}
.infoTxt2{ width:262px; height:45px; line-height:44px; padding:0 10px 0 80px; top:262px;}
.infoTxt3{ width:206px; height:45px; line-height:44px; padding:0 10px 0 136px; top:332px;}
.infoArea{ border:0; background:none; position:absolute; left:183px; top:404px; width:205px; height:126px; padding:5px 10px 5px 0; resize:none; color:#333; font-size:24px; line-height:44px;}
.sel1{ width:50px; height:20px; background:url(../images/sexSel.png) 30px 8px no-repeat; position:absolute; left:294px; top:201px;}
.sel2{ width:50px; height:20px; background:url(../images/sexSel.png) 30px 8px no-repeat; position:absolute; left:344px; top:201px;}
.selOn{ background-position:-21px 8px;}
.infoBtn1{ left:133px; top:596px;}
.popShare{ position:fixed; top:0; left:50%; margin-left:-320px;}

.bmgBtn{ position:fixed; top:20px; right:20px;}
.bmgOn{
-webkit-animation:bmgOn 3s 0s linear both infinite;
}
@-webkit-keyframes bmgOn{
0%{ -webkit-transform:rotate(0);}
100%{ -webkit-transform:rotate(360deg);}
}

.flower{ background:url(../images/flower.png) 0 0 no-repeat; width:131px; height:190px; left:37px; top:622px;
-webkit-animation:flower 1s steps(2) infinite;}
@-webkit-keyframes flower{
0%{ background-position:0 0;}
100%{ background-position:-262px 0;}
}

.act2Img3Bg{ background:url(../images/act2A3.png) 0 0 no-repeat;}
.act2Img3BgAct{-webkit-animation:act2Img3Act 1.5s 0s linear both}
@-webkit-keyframes act2Img3Act{
0%{ background-position:0 0;}
33%{ background-position:0 0;}
33.001%{ background-position:-640px 0;}
66%{ background-position:-640px 0;}
66.001%{ background-position:-1280px 0;}
100%{ background-position:-1280px 0;}
}
.actBtn6{ left:260px; top:840px;}
